<b>start</b> : <i>Start new session.</i> 
<b>end</b> : <i>End current session.</i>
<b>me</b> : <i>Check your orders.</i>
<b>all</b> : <i>Check all orders.</i>
<b>bill</b> : <i>Check the bill.</i> 
<b>service</b> : <i>Set service.</i>   
<b>tax</b> : <i>Set tax.</i>  
<b>add</b> : <i>Add new order(s).</i>
    <code>/add apple </code>
    <code>/add 2 apple </code>
    <code>/add 2 apple + 1 orange</code>

<b>delete</b> : <i>Delete order(s)</i>
    <code>/delete apple </code>
    <code>/delete 2 apple </code>
    <code>/delete 2 apple + 1 orange</code>

<b>set</b> : <i>Set order(s) price</i>
    <code>/set apple = 2</code>
    <code>/set apple = 2 , orange = 1.5</code>

<b>help</b> : <i>See help message</i> 